*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth  ;
    font-family: 'poppins', sans-serif;
}


:root {
    --bg-color: #080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#00ffee; 
}

body{
        background-color: #080808;
        color: var(--text-color);
    }

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#131313 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.logo{

    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
    position: relative;
    font-size: 25px;
    text-decoration: none;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.logo:hover{
    transform: scale(1.1);
}
.logo span{
    text-shadow: 0 0 25px var(--main-color);
    color: var(--main-color);
}
.navbar a{
    display: inline-block;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2rem;
    transition: .3s ease;
    border-bottom: 3px solid transparent;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
span{
    color: var(--main-color);
}
section{
    min-height: 80vh;
    padding: 10rem 15% 10rem;
}
.home{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-size: cover;
    background-position: center;
    height: 100vh;
    gap: 15rem ;
    color: white;
    padding:70px 10% 40px;
}
.home-content{
    
   max-width: 400px;
   margin-top: 15rem;
}

.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin-top: -50px;
    line-height: 1;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
        font-size: 20px;
        line-height: 1.5;
        opacity: 0;
        animation:slideLeft 1s ease forwards; 
        animation-delay: 1s;
    }
.home-img{
    border-radius: 40%;
    
}
.home-img img{
    position: relative;
    top: 2rem;
    width: 30vw;
    height: 36rem;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 50px var(--main-color),
                0 0 100px var(--main-color);
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    opacity: 0;
    transition: .5s ease;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef    
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
}
@keyframes slideTop {
    0%{
        transform: translateY(100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideLeft {
    0%{
        transform: translateX(100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideRight {
    0%{
        transform: translateX(-100px);
        opacity:0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0%{
        transform: translateY(-100px);
        opacity:0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
/* @keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,25%
    {
        content:"Software Developer";
    }
    50%,75%
    {
        content:"Web Developer";
    }
}
@keyframes typing{
    10%,45%,60%,95% {
        width: 0;
    }
    5%,50%,55%,100%{
        width: calc(100% +8px);
    }
} */
@keyframes cursor{
    to{
        border-left: 2px solid var(--main-color);
    }
}
@keyframes words{
    0%,
    20%{
        content: "Software Developer";
    }
    21%,
    40%{
        content: "Web Developer";
    }
    41%,
    60%{
        content: "Software Developer";
    }
    61%,
    80%{
        content: "Web Developer";
    }
}
@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% +8px);
    }
}






.heading{
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0;
    
}
.education{
    padding: 50px 50px 50px;
    background: var(--second-bg-color);
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
    
}
.education h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1150px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
    position: relative;
    
}
.timeline-items::before{
   content: "";
   position: absolute;
   width: 5px;
   height: 100%;
   background-color: #00ffee;
   left: calc(50% - 1px); 
}
.timeline-item{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: #00ffee;
    box-shadow: 0 0 25px #00ffee,
                0 0 50px #00ffee;
    position:absolute;
    left: calc(50% - 8px); 
    border-radius: 50%; 
    top: 10px;          
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}
.timeline-content{
    
    border: 3px solid #00ffee;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #00ffee;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #00ffee;
}
.timeline-content h3{
    font-size: 19px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}
.timeline-content p{
    color: white;
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}










.sub-title {
    background: #151e20;
    text-align: center; 
    font-size: 3rem;
    padding-top: 80px;
}

.skills {
    background: #151e20;
    display: flex;/* use to display all skills in horizontal*/  
    margin-top: -80px;
    
}
.skills .box1,.skills .box2{
    display: flex;
    flex-wrap: wrap;
}
.skills .container3{
    background-color: #151e20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 72px;
    width: 450px;
}
.skills .container2{
    background-color: #151e20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 72px;
    width: 450px;
    height: 601.2px;
}
.skills .container4{
    background-color: #151e20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 72px;
    width: 450px;
    height: 591px;
}
.heading2{
    text-align: center;
    line-height: 1.5;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
}
.Technical-bars2{
    opacity: 0;
    animation:slideLeft 1s ease forwards; 
    animation-delay: 1s;
}
.Technical-bars2 .bar2 {
    margin: 50px 0 0 20px;
    font-size: 25px;
    
}
.Technical-bars2 .bar2 i {
    font-size: 40px;
}
.Technical-bars2 .bar2 .info1{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
}
.Technical-bars2 .bar2 .info1 span{
   color: #fff;
}
.Technical-bars2 .bar2 .info2{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}
.Technical-bars2 .bar2 .info2 span{
    color: #fff;
 } 
.container1 {
    background-color: #151e20;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 450px;
    padding:72px 100px; 
    background-color: #151e20;
    
}
.heading1 {
    text-align: center;
    line-height: 1.5;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    margin-bottom: 50px;
}
.bar {
    font-size: 23px;
}
.Technical-bars .bar {
    margin: 40px 0;
}
.Technical-bars .bar:first-child {
    margin-top: 0;
}
.Technical-bars .bar:last-child {
    margin-bottom: 0;
}
.Technical-bars .bar .info {
    margin-bottom: 5px;
}
.Technical-bars .bar .info span {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background: black;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.progress-line.html span {
    width: 90%;    
}
.progress-line.css span {
    width: 80%;  
}
.progress-line.javascript span {
    width: 70%;   
}
.progress-line.react span {
    width: 55%;  
}
.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
.progress-line.html span::after {
    content: "90%";
}
.progress-line.css span::after {
    content: "80%";
}
.progress-line.javascript span::after {
    content: "70%";
}
.progress-line.react span::after {
    content: "55%";
}
.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
    top: -20px;
    right: 0px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
@keyframes showText {
    100% {
        opacity: 1;
    }
}
.radial-bars{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.radial-bars .text{
    font-size: 17px;
}
.radial-bars .radial-bar{
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}
.radial-bars .radial-bar svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}
.radial-bars .radial-bar .progress-bar{
    stroke-width: 10;
    stroke: black;
    fill: transparent;
    /* stroke-dasharray: 502;
    stroke-dashoffset: 502; */
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;
}
@keyframes animate-bar{
    100%{
        stroke-dashoffset: -1;
    }
}
.path{
    stroke-width: 10;
    stroke: #0ef;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
}
.path-1{
    animation: animate-path1 1s 1s linear forwards;
}
.path-2{
    animation: animate-path2 1s 1s linear forwards;
}
.path-3{
    animation: animate-path3 1s 1s linear forwards;
}
.path-4{
    animation: animate-path4 1s 1s linear forwards;
}
@keyframes animate-path1{
    100%{
        stroke-dashoffset: 75;
    }
}
@keyframes animate-path2{
    100%{
        stroke-dashoffset: 100;
    }
}
@keyframes animate-path3{
    100%{
        stroke-dashoffset: 125;
    }
}
@keyframes animate-path4{
    100%{
        stroke-dashoffset: 100;
    }
}
.radial-bar .percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5 1s linear forwards;
    opacity: 0;
}
.progress-bar .text{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}







.project{
    background-color:var(--second-bg-color);
    display: flex;
}
.portfolio{
    margin-top: -150px;
}
.main-text h2{
    font-size: 3rem;
    text-align: center;
    padding: 80px;
}

.portfolio-content{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(359px,auto));
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: block;
    transition: transform 0.5s;
    padding: 60px 15px  ;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 15px;
}
.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer .play-line{
    font-weight: 800;
}
.layer i{
    margin-top: 20px;
    font-size: 25px;
    background: black;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
}
.row:hover img{
    transform: scale(1.1);

}
.row:hover .layer{
    height: 100%;

}












.contact{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top: 10px;
}
.contact-text{
    padding-left: 5px;
}
.contact-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: left;
    margin-bottom: 100px;
}
.contact-text h2 span{
    color: var(--main-color);
}
.contact-text h4{
    margin: 15px 0;
    color: rgb(228,228,228);
    font-size: 30px;
    font-weight: 600;
}
.contact-text p{
    color: rgb(177,177,177);
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5rem;
    
}
.contact-list {
    margin-bottom: 1px;
}
.contact-list li{
    margin: 5px;
    display: block;
    font-size: 17px;
    
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 25px;
    font-weight: 200;
    transition: all .40s ease;
}
.contact-list li a:hover{
  transform: scale(1.01) translateY(-5px);
  color:#0ef;
    
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 10px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s *var(--i));
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize: none;
    height: 220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 30px cyan;
    
}
.last-text p{
    width: 100%;
    text-align: center;
    padding:  15px 0;
    background:#151e20;
    font-weight: 300;
    margin-top: 10px;
}
.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2,1rem;
}
.top i{
    color:#000;
    background: #0ef;
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}










@media(max-width:1285px){
    html{
        font-size: 55%;
    }
}
@media(max-width:991px){
    header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .heading{
        font-size: 4rem;
        
    }
    .timeline-items::before{
        left: 7px;
    }
    .timeline-item:nth-child(odd){
        padding-right: 0;
        text-align: left;
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even){
        padding-left: 37px;
    }
    .timeline-dot{
        left: 0;
    }
    .sub-title{
        font-size: 4rem;
        padding-bottom: 30px;
    }
    .skills .container1 {
        width: 200px;
        padding:21px 50px;  
        height: 400px;
    }
    .skills .container2{
        padding:21px;
        width: 200px;
        height: 400px;
    }
    .skills .container3{
        padding:21px;
        width: 200px;
        height: 400px;
    }
    .skills .container4{
        padding:21px;
        width: 200px;
        height: 400px;
        font-size: 10px;
    }
    .Technical-bars .bar {
        margin: 15px 0;
    }
    .Technical-bars .bar .info span{
        font-size: 10px;
    }
    .Technical-bars2 .bar2 {
        margin: 15px 0 0 20px;
        
    }
    .Technical-bars2 .bar2 i {
        font-size: 25px;
    }
    .Technical-bars2 .bar2 .info1{
        margin-top: 5px;
        font-size: 11px;
        
    }
    .radial-bars{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .radial-bars .text{
        font-size: 11px;
    }
    .radial-bars .radial-bar{
        width: 50%;
        height: 70px;
        margin-bottom: 40px;
    }
    .radial-bars .radial-bar .percentage{
        font-size: 11px;
    }
    .radial-bars .radial-bar svg{
        top: 50%;
        left: 50%;
        width: 60px;
        height: 80px;
    }
    .contact-form{
        font-size: 10px;
        margin-top: -150px;
    }
    .contact-form form input,form textarea{
        width: 100%;
        padding: 13px;
    }
    .contact-form textarea{
        height: 150px;
    }
    .contact-form form .send{
        padding: 10px 15px;
        font-size: 10px;
    }
    .contact-text{
        margin-top: -150px;
    }
    .contact-text h2{
        font-size: 4rem;
        margin-bottom: 60px;
    }
    .contact-text h4{
        font-size: 20px;
    }
    .contact-text p{
        font-size: 13px;
        line-height: 1;
    }
    .contact-list li{
        font-size: 13px;
        line-height: 1;
    }
    .contact-icons i{
        border: 2px solid #0ef;
        border-radius: 50%;
        font-size: 15px;
        margin: 5px 5px 3px 0;
        height: 25px;
        width: 25px;
    }
    .contact-list .bx{
        width: 25px;
    }
    .main-text h2{
        font-size: 4rem;
        margin-top: 60px;
        margin-bottom: -100px;

    }
    .last-text{
        font-size: 15px;
    }
}

@media(max-width:895px){
    #menu-icon{
        display: block;
        font-size: 30px;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3%;
        background: rgba(0, 0, 0, 0.829);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white; 
    }
    .skills .container1 {
        width: 190px;
        padding:21px 50px;  
        height: 450px;
    }
    .skills .container2{
        padding:21px;
        width: 190px;
        height: 450px;
    }
    .skills .container3{
        padding:21px;
        width: 190px;
        height: 450px;
    }
    .skills .container4{
        padding:21px;
        width: 190px;
        height: 450px;
        font-size: 10px;
    }
    .home{
        flex-direction: column-reverse;
        margin: 52rem 4rem;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 8rem;
    }
    .home-content p{
        max-width: 600px;
        margin: 0 auto;
    }
    .home-img img{
        width: 70vw;
        height: 70vw;
    }
     .heading2{
        padding-bottom: 20px;
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
    .heading1{
        text-underline-offset: 5px;
        text-decoration-thickness: 2px;
    }
    .timeline-content p{
        font-size: 15px;
    }
}
